<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post List</title>
</head>

<body>
    <h1>All post Lists:</h1>
    <hr>
    {% for post in all_posts %}

            <b>ID:</b> {{post.id}} <br>
            <b>Title:</b> {{post.title}}<br>
            <b>Author:</b> {{post.author}}<br>
            <b>Status:</b> {{post.is_active}}<br>
            <b>Detail:</b> {{post.details}}<br>

            <button><a href="{% url 'detail' post.id %}">Details</a></button><button><a href="{% url 'update' post.id %}">Edit</a></button><button><a href="{% url 'delete' post.id %}">Delete</a></button>

        <hr>
    {% endfor %}

</body>
</html>