<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Single Post</title>
</head>

<body>

    <h1>Post Details:</h1>
    <hr>
    <b>ID:</b> {{single_post.id}} <br>
    <b>Title:</b> {{single_post.title}}<br>
    <b>Author:</b> {{single_post.author}}<br>
    <b>Status:</b> {{single_post.is_active}}<br>
    <b>Detail:</b> {{single_post.details}}<br>
    <hr>

    <!--<button><a href="{% url 'detail' single_post.id %}">Details</a></button><br>-->
    <button><a href="{% url 'update' single_post.id %}">Edit</a></button><br>
    <button><a href="{% url 'delete' single_post.id %}">Delete</a></button><br>

</body>
</html>